In [1]:
x = 5
print(type(x))

<class 'int'>

In [4]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(type(thislist))

['apple', 'banana', 'cherry']
<class 'list'>

In [8]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print(id(thislist))
print(len(thislist))

['apple', 'banana', 'cherry', 'apple', 'cherry']
134510283408000
5

In [10]:
list1 = ["abc", 34, True, 40, "male"]
print(type(list1))

<class 'list'>

In [7]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [11]:
s1_name = "Faranaz Keshwani"
s2_name = "Al Maidah"
s3_name = "Farheen"
s4_name = "Saba"

print(s1_name)
print(s2_name)
print(s3_name)
print(s4_name)

Faranaz Keshwani
Al Maidah
Farheen
Saba

In [12]:
student_names = ["Faranaz Keshwani","Al Maidah","Farheen","Saba"]
print(student_names)
print(len(student_names))
print(type(student_names))

['Faranaz Keshwani', 'Al Maidah', 'Farheen', 'Saba']
4
<class 'list'>

In [16]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [17]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [23]:
name1 = input("Enter the names of Students of class seperated by ',' :")
name1.split(",")

Enter the names of Students of class seperated by ',' :Gul,Shaikh,Zaman,Wasib,Fara

['Gul', 'Shaikh', 'Zaman', 'Wasib', 'Fara']